<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Mongo Scraper</a>
    </div>

<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/saved">Saved Articles</a></li>
      </ul>
      <button id="scrapeArticles" type="button" class="btn btn-default navbar-btn">Scrape New Articles</button>
    </div><!-- /.navbar-collapse -->

  </div>
</nav> <!-- End of navbar -->


<div class="container">
	<div class="jumbotron">
  	<h1>Mongo Scraper</h1>
  	<img src="/assets/img/logo.svg" class="img-responsive .center-block" alt="Smashing Magazine" />
	</div>

	<!-- Article Listings -->
	{{#each articleList}}
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <a href="{{this.link}}" target="_blank"><h3 class="panel-title">{{this.title}}</h3></a>

	    	{{#if this.saved}}
	    		<button data-id={{this.id}} class="btn btn-primary seeNotes" type="submit">Notes</button>
	    		<button data-id={{this.id}} class="btn btn-primary deleteArticle" type="submit">Delete Article</button>
	    	{{else}}
	    		<button class="btn btn-primary saveArticle" type="submit">Save Article</button>
	    	{{/if}}

	  </div>
	  <div class="panel-body">
	    {{this.description}}
	  </div>
	</div>
	{{/each}}

</div>

<!-- Modal -->
	<div id="resultsModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	      </div>
	      <div class="modal-body">
	        <h2 id="scrapeSucess"></h2>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>